<ng-content></ng-content>

<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title>Elérhetőségek</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <p><mat-icon>call</mat-icon> +36 99 123 45 67</p>
            <p><mat-icon>email</mat-icon> test@gmail.com</p>
            <p><mat-icon>map</mat-icon>Szeged, Mars tér 13, 6724</p>
            <button mat-raised-button color="primary" (click)="deleteacc()">Profil törlése</button>
        </mat-card-content>
    </mat-card>
</div>
